.two {
    min-height: 472px;
    background-color: #f6f6f6;
    padding: 70px 0 80px 0;
    &__wrapper {
        display: flex;
        justify-content: space-between;
        max-width: 750px;
        margin: 0 auto;
        margin-top: 65px;
        
    }
    &__icons {
        max-width: 210px;
    }
    &__icon {
        min-width: 210px;
        text-align: center;
    }
        img {
            display: block;
            margin: 0 auto;
            margin-bottom: 38px;
        }
    #heartbeat{
        animation-name: heartbeat;
        animation-duration: 2s;
        animation-timing-function: ease;
        animation-iteration-count: infinite;
        &:hover {
            animation-play-state: paused;
        }

    }
    // &__icon_heart{
    //     &_animated{
    //         animation-name: heartbeat;
    //         animation-duration: 2s;
    //     }
    
    &__subheader {
        font-size: 18px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: center;
        color: #0d0d0d;
        margin-bottom: 26px;
    }
    &__descr {
        font-size: 14px;
        font-weight: 300;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: center;
        color: #0d0d0d;
    }
        a {
            color: red;
        }  
} 